{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid text-center">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
            {% else %}
                <h4>{{ user.person }}, здравствуйте!</h4>
            {% endif %}
            {% if user.is_staff %}          
                <p>Вы администратор сайта!</p>
                <p>Перейдите по <a href="http://127.0.0.1:8000/admin">этой ссылке</a>, чтобы управлять сайтом или используйте навигационную панель.</p>           
            {% endif %}
            {% if user.person.status == '1'  %}        
                <p>Вы студент!</p>
                <p>Вы можете посмотреть список учебных групп! <br> Для этого воспользуйтесь навигационной панелью.
                </p>       
            {% endif %}
            {% if user.person.status == '2'  %}            
                <p>Вы куратор учебных групп!</p>
                <p>Вы можете управлять группами, студентами и зачислять абитуриентов! <br> Для этого воспользуйтесь навигационной панелью.</p>
            {% endif %}
            {% if user.person.status == '3' %}
                <p>Вы абитуриент!</p>
                <p>Вы можете посмотреть список направлений, для поступления.</p>
            {% endif %}
        {% else %}
            <h4>Приветствуем!</h4>
            <p>Войдите в свою учетную запись или зарегестрируйтесь!</p>
        {% endif %}
    </div>
{% endblock %}